name = (the name of the language, in that language)
menu.file = File
menu.edit = Edit
menu.search = Search
menu.view = View
menu.encoding = Encoding
menu.language = Language
menu.window = Window
file.new = New
file.open = Open...
file.reload = Reload from Disk
file.save = Save
file.save_as = Save As...
file.save_all = Save All
file.close = Close
file.close_all = Close All
file.close_others = Close All But This
file.exit = Exit
edit.undo = Undo
edit.redo = Redo
edit.cut = Cut
edit.copy = Copy
edit.paste = Paste
edit.delete = Delete
edit.select_all = Select All
edit.duplicate_line = Duplicate Line
edit.delete_line = Delete Line
edit.line_up = Move Line Up
edit.line_down = Move Line Down
edit.indent = Increase Line Indent
edit.unindent = Decrease Line Indent
edit.upper = UPPERCASE
edit.lower = lowercase
edit.trim = Trim Trailing Space
edit.eol_crlf = Line Ends: Windows (CR LF)
edit.eol_lf = Line Ends: Unix (LF)
edit.eol_cr = Line Ends: Macintosh (CR)
edit.overwrite = Overwrite Mode
search.find = Find...
search.next = Find Next
search.previous = Find Previous
search.replace = Replace...
search.goto = Go to Line...
view.toolbar = Toolbar
view.status = Status Bar
view.numbers = Line Numbers
view.spaces = Show Spaces and Tabs
view.wrap = Word Wrap
view.zoom_in = Zoom In
view.zoom_out = Zoom Out
view.zoom_reset = Restore Default Zoom
view.font_text = Text Font...
view.font_ui = Interface Font...
view.language = Interface Language...
language.normal = Normal Text
window.next = Next Tab
window.previous = Previous Tab
find.find = Find:
find.replace_with = Replace:
find.goto = Go to line:
find.next = Next
find.previous = Previous
find.case = Aa
find.word = Word
find.regex = .*
find.replace = Replace
find.replace_all = Replace All
find.go = Go
find.not_found = Not found
find.wrapped = Wrapped
find.replaced = replaced
find.no_memory = No memory
find.bad_pattern = Bad pattern
status.line = Ln:
status.column = Col:
status.position = Pos:
status.selection = Sel:
status.length = length:
status.lines = lines:
status.insert = INS
status.overwrite = OVR
status.normal = Normal text file
status.conflict = file changed on disk
status.save_failed = could not save
status.missing = not on disk yet
status.eol_lf = Unix (LF)
status.eol_crlf = Windows (CR LF)
status.eol_cr = Macintosh (CR)
pick.font_text = Text Font
pick.font_ui = Interface Font
pick.language = Interface Language
pick.default = System default
pick.english = English
pick.filter = Type to filter
tab.new = new
ask.title = Close tab
ask.text = has changes that are in no file.
ask.save = Save
ask.discard = Don't save
ask.cancel = Cancel
file.erase = Erase Everything Kept Here...
ask.erase = Erase every tab, file copy and setting kept here? This cannot be undone.
# what the status bar calls each kind of file; lang.<name> works for an added language too
lang.c = C source file
lang.cpp = C++ source file
lang.csharp = C# source file
lang.css = Cascading Style Sheets file
lang.javascript = JavaScript file
lang.html = HTML file
lang.lua = Lua source file
lang.apex = Salesforce Apex file
lang.python = Python file
lang.ruby = Ruby file
lang.rust = Rust source file
lang.markdown = Markdown file
lang.json = JSON file
lang.xml = XML file
lang.bash = Shell script
lang.powershell = PowerShell script
lang.csv = Comma-separated values file
lang.tsv = Tab-separated values file
